* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;

  margin: 0 auto;
}
/* -------------------HEder-------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-nav {
  display: flex;
  align-items: center;
 
}
.header-wrap {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-black {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.header-contacts {
  font-style: normal;
}
.header-menu-list {
  display: flex;
  gap: 40px;
  
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}
.header-menu-item {
  position: relative;

}
.header-menu-link:active {
  color: #404bbf;
}
.cover {
  position: relative;
}
 .cover::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
 
}

.header-contacts {
  margin-left: auto;
}

.header-address-menu {
  display: flex;
  gap: 40px;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover {
  color: #404bbf;
}
.header-address-link:focus {
  color: #404bbf;
}
/* -------------------------------HERO-=================- */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;

  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
/* --------------------ADVANTURES-------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advant {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advant-menu {
  gap: 24px;
  display: flex;
}

.advant-menu-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.advant-icon-wrap {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 32px 0;
}

.advant-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advant-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icon-image {
  fill: #f4f4fd;
}
/* ----------------------TEAM---------------- */
.section-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-team-list {
  background-color: #fff;
  width: calc((100%-3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-team-menu {
  display: flex;
  gap: 24px;
}
.team-image {
  margin: 0 auto;
}
.team-discription {
  text-align: center;
padding: 32px 0;
   
}
.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.team-profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icon-list {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 0;
}
.icon-item {
  width: 40px;
  height: 40px;
}
/* .icon-item:hover {
      background-color: #404bbf;} */

.cos-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cos-link:hover,
.cos-link:focus {
  background-color: #404bbf;
  box-shadow: зі значенням 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.icon-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/* ---------------PORTFOLIO------------- */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.section-portfolio-list {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.section-portfolio-list:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.section-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}
.portfolio-sublist {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.wrap-cover {
  position: relative;
  overflow: hidden;
  transition: translateY(100%);
}


.portfolio-cover-text {
  padding: 40px 32px;
 
  position: absolute;
 font-size: 16px;
  top: 0;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.wrap-cover:hover .portfolio-cover-text {
  transform: translateY(0);
}

/* ---------------FOOTER----------------- */

.section-footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}
.section-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-wrap-logo {
  width: 264px;
  height: 112px;
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-logo-white {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  padding-top: 16px;
}

.footer-cos-text {
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-icon {
  fill: #f4f4fd;
}
